.Sidebarstyle{
    height: 100%;
    background: brown;
    color: azure;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    max-width: 250px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}


.Sidebarstyle.open {
    transform: translateX(0);

}


.Sidebarstyle ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4px;
}
