#footer{
    background-color: brown
}

.sidebar_navigation .sidebarButton{
    display: flex;
    flex-direction: column;
    height: 35px;
    width: 35px;
    background: powderblue;
    border: none;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around;

}

.toggle-button_line{
    width: 35px;
    height: 4px;
    background: white;
}