body {
    background-image: url("../img/plane2.jpg");
    width: 100vw;
    position: absolute;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}