#about_id {
    background-image: url("../img/plane.jpg");
    width: 100vw;
    height: 100vw;
    position: absolute;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    /* color: darkblue; */
    color: rgb(200, 255, 0);
    font-size: 125% ;
}
.aboutTitle {
    font: 15px arial, sans-serif;
    margin: 2% 10% 2% 10%;
}
.aboutText {
    font: italic bold 12px/30px Georgia, serif;
    margin: 2% 10% 2% 10%;
}